@import "coloresyfuente.scss";

body{
    background-color: white;
}

img{
    max-width: 150px;
}

h1{
    font-family: $header-font;
    color: $colorado;
    font-size: 60px;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* .encabezado{
    background: url(../imagenes/wallpaper1.jpeg);
    height: 400px;
    max-width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        text-transform: uppercase;
        z-index: 1;
    }
}
.encabezado::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: $amarillo;
    position: absolute;
    opacity: 0.5;
} */

.contenedor__navegacion--logo {
    display: flex;
    align-items: center;
    img{
        max-width: 50px;
        padding: 5px;
    }
}




/*COMIENZO NAVBAR*/

.contenedor-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;

    li{
        margin: 10px;
    }
}

.contenedor-header{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;

    img{
        max-width: 3.1rem;
        padding: 5px;
    }

}

.contenedor__navegacion--carrito img{
    border: none;
    max-width: 4.1rem;
}

.carrito2 img{
    display: none;
}

#navbar-header:target .contenedor-menu{
height: 140px;
}

#navbar-header:target .open{
display: none;
}

#navbar-header:target .close{
display: flex;
}

.close{
margin-top: 5px;
display: none;
}

@media (min-width: 1200px) {
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .contenedor-menu{
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        width: 65%;
        align-items: center;
        margin-bottom: 0;
        li{
            text-align: center;
        }
    } 
    #navbar-header:target .open{
        display: flex;
    }

    .carrito2 img{
        display: flex;
        margin: 10px;
    }

    
    #navbar-header:target .close{
        display: none;
    }

    #navbar-header:target .contenedor-menu{
        height: 80px;
    }
    .contenedor-header img{
        max-width: 70px;
    }  
    .navbar-menu-mobile{
        open{
            display: flex;
            max-width: 60px;
        }
        close{
            display: none;
        }
        h5{
            display: none;
        }
    }
    .contenedor__navegacion--carrito img{
        display: none;
    }
    .navbar-menu-desktop{
        display: block;
    }
   
}

/* FIN NAV BAR*/


//CONTENEDOR PRINCIPAL MAIN

.contenedor__principal--productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    padding: 5px;
}


@media (min-width: 1200px) {

    .contenedor-flex{
        display: flex;
    }
    .contenedor__checkbox--items{
        display: flex;
    }

    .item{
        padding: 20px;
    }

}



/* ASIDE */

.contenedor__principal--aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $naranjaclaro;
    margin: 30px;
}


@media (min-width: 1200px) {
    .contenedor__principal--aside{
        width: 20%;
        margin: 0 30px;
        height: 300px;
    }

}





