@import "coloresyfuente.scss";

body{
    background-color: white;
}

img{
    max-width: 150px;
}

h1{
    font-family: $header-font;
    color: white;
    font-size: 65px;
    text-align: center;
}
h2{
    text-align: center;
    font-family: $text-font2;
    font-size: 45px;
    padding: 15px;
}
h3{
    text-align: center;
    font-family: $text-font2;
    font-size: 30px;
}
h5{
    text-align: center;
    font-family: $text-font;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: $text-font2;
    font-size: 25px;
    color: $naranjaoscuro;

}

p, label{
    font-family: $text-font;
}

th{
    font-family: $text-font2;
    font-size: 20px;
    color: $naranjaoscuro;
    letter-spacing: 2px;
    text-align: center;
    padding: 15px;
}

td{
    padding: 15px;
}

@media (min-width: 1200px) {
    .encabezado{
        background: url(../imagenes/perro1.jpeg);
        height: 600px;
        max-width: 100%;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        h1{
            text-transform: uppercase;
            z-index: 1;
            padding-right: 100px;
        }
    }
    .encabezado::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
    }
}


.contenedor__navegacion--logo {
    display: flex;
    align-items: center;
    img{
        max-width: 50px;
        padding: 5px;
    }
}




/*COMIENZO NAVBAR*/

#carrito{
    display: none;
}

.contenedor-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;

    li{
        margin: 10px;
    }
}

.contenedor-header{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;

    img{
        max-width: 3.1rem;
        padding: 5px;
    }

}

.contenedor__navegacion--carrito img{
    border: none;
    max-width: 4.1rem;
}

.carrito2 img{
    display: none;
}

#navbar-header:target .contenedor-menu{
height: 140px;
}

#navbar-header:target .open{
display: none;
}

#navbar-header:target .close{
display: flex;
}

.close{
margin-top: 5px;
display: none;
}
.close img{
    width: 30px;
    height: 30px;
}

.navbar-menu-desktop{
    display: none;
}

@media (min-width: 1200px) {
    .navbar-menu-mobile{
        display: none;
    }
    .index-mobile{
        display: none;
    }
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .contenedor-menu{
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        width: 65%;
        align-items: center;
        margin-bottom: 0;
        li{
            text-align: center;
        }
    } 
    #navbar-header:target .open{
        display: flex;
    }

    .carrito2 img{
        display: flex;
        margin: 10px;
    }

    
    #navbar-header:target .close{
        display: none;
    }

    #navbar-header:target .contenedor-menu{
        height: 80px;
    } 
    .contenedor-header img{
        max-width: 70px;
    }
    .navbar-menu-mobile{
        open{
            display: flex;
            max-width: 60px;
        }
        close{
            display: none;
        }
        h5{
            display: none;
        }
    }
    .contenedor__navegacion--carrito img{
        display: none;
    }
    .navbar-menu-desktop{
        display: block;
    }
   
}

/* FIN NAV BAR*/


//CONTENEDOR PRINCIPAL MAIN

.contenedor__principal--productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    padding: 5px;
}


@media (min-width: 1200px) {

    .contenedor-flex{
        display: flex;
    }
    .contenedor__checkbox--items{
        display: flex;
    }

    .item{
        padding: 20px;
    }

}



/* ASIDE */

.contenedor__principal--aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $amarillo;
    margin: 30px;
    border-radius: 10px;
}

.filtro{
    display: flex;
    flex-direction: column;
}
.filtro a{
    margin-bottom: 10px;
}
.botonFiltro{
    background-color: $naranjaoscuro;
    color: white;
}




@media (min-width: 1200px) {
    .contenedor__principal--aside{
        width: 20%;
        margin: 0 30px;
        height: 300px;
    }

}

//CARRITO   

@media (min-width: 1200px) {
    .cajaCompraFinal{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    h3{
        margin: 0;
    }
}





//FOOTER

.footer{
    background-color: $colorado;
    margin-top: 20px;

}

.contenido-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido-footer h6{
    font-family: $header-font;
    color: white;
    font-size: 30px;
    margin: 0;
}

.footer p{
    font-family: $text-font;
    font-size: 13px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.redes-sociales img{
    max-width: 50px;
    margin: 10px;
}

.pago-tarjetas img{
    max-width: 70px;
    margin: 10px;
}

//CONTACTO

.formulario{
    display: flex;
    justify-content: center;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: $colorado;
}